body {
    margin: 0;
    padding: 0;
}

span {
    font-style: italic;
}

/* style for main text */
.main-text {
    padding-left: 10px;
}

/* style for list */
.conteiner-list {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding: 10px;
}

.conteiner-list>p {
    text-align: center;
    font-weight: bold;
}

/* style for image */
.conteiner-img {
    /* float: right; */
    border-style: solid;
    border-width: 0.5px;
    padding: 5x;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: beige;
}


.conteiner-img>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-html5 {
    max-width: 100px;
}

.conteiner-img>div>div {
    padding: 5px;
}

/* style bottom list from the left */
.bottom-link-left {
    /* float: right; */
    border-style: solid;
    border-width: 0.5px;
    padding: 5x;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: beige;
    /* display: inline-block; */
}

.bottom-link-left>p {
    background-color: rgb(207, 233, 233);
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.main-conteiner-img {
    display: table;
    float: right;
}

/* style for navbar */

.conteiner-navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 243);
}

.conteiner-navbar>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.conteiner-navbar>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}

@media (max-width: 900px) {
    .conteiner-navbar {
        flex-direction: column;
    }
}

/* style for main div */
.main {
    display: flex;
    justify-content: center;
}

/* style for side navbar */
.side-navbar {
    width: 14%;
    background-color: rgb(228, 228, 245);
}

.side-navbar>ol {
    list-style: none;
    padding: 0px;
    margin: 10px;
    padding-bottom: 20px;
}

.side-navbar>ol>p {
    padding: 0px;
    margin: 0px;
    border-bottom-style: solid;
    border-width: 0.2px;
}

.img-logo-Wiki {
    width: 100%;
}

.img-logo-Wiki>img {
    width: 100%;
}

/* style for section div */
.section {
    width: 82%;
}

